branches:
  only:
    - master
    - development

sudo: false

language: php

php:
  - 7.0
  - 7.1
  - hhvm
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm

before_script:
  - wget -q -O phpcs.phar https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
  - chmod 755 phpcs.phar
  - git submodule add -f --name tests https://github.com/nafigator/Veles-unit-tests.git Tests
  - |
    case $TRAVIS_PHP_VERSION in
      7.0)
        phpenv config-rm xdebug.ini
        PHPUNIT_FLAGS="-c Tests/travisci-phpunit.xml"
        phpenv config-add Tests/travisci.ini
        wget -q -O phpunit.phar https://phar.phpunit.de/phpunit.phar
        ;;
      7.1)
        PHPUNIT_FLAGS="-c Tests/travisci-phpunit.xml --coverage-clover build/logs/clover.xml"
        phpenv config-add Tests/travisci.ini
        wget -q -O phpunit.phar https://phar.phpunit.de/phpunit.phar
        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        chmod +x ./cc-test-reporter
        ./cc-test-reporter before-build
        ;;
      nightly)
        phpenv config-rm xdebug.ini
        PHPUNIT_FLAGS="-c Tests/travisci-phpunit.xml"
        phpenv config-add Tests/travisci.ini
        wget -q -O phpunit.phar https://phar.phpunit.de/phpunit.phar
        ;;
      hhvm)
        phpenv config-rm xdebug.ini
        PHPUNIT_FLAGS="-c Tests/travisci-phpunit.xml"
        cat Tests/travisci-hhvm.ini >> /etc/hhvm/php.ini
        wget -q -O phpunit.phar https://phar.phpunit.de/phpunit.phar
        ;;
    esac
  - chmod 755 phpunit.phar

script:
  - ./phpunit.phar $PHPUNIT_FLAGS
  - ./phpcs.phar --encoding=utf-8 --standard=phpcs.xml --ignore=Tests,vendor -w --colors .

after_script:
  - |
    if [[ $TRAVIS_PHP_VERSION = '7.1' && $TRAVIS_BRANCH = 'master' ]]; then
      CC_TEST_REPORTER_ID=9b68837f2ccc3206ed5d6f74fc9422423e35a4dd28ee48f161165bc0259fd692 \
      ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
    fi
