<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="phpunit.xsd"
	xmlns=""
	backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="Tests/bootstrap.php"
	cacheTokens="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="false"
	mapTestClassNameToCoveredClassName="false"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	verbose="true"
	stderr="true">
	<filter>
		<blacklist>
			<directory suffix=".php">Tests</directory>
			<directory suffix=".phtml">Tests</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">Application</directory>
			<directory suffix=".php">Auth</directory>
			<directory suffix=".php">Cache</directory>
			<directory suffix=".php">DataBase</directory>
			<!--<directory suffix=".php">ErrorHandler</directory>-->
			<directory suffix=".php">Helpers</directory>
			<directory suffix=".php">Model</directory>
			<directory suffix=".php">Routing</directory>
			<!--<directory suffix=".php">Tools</directory>-->
			<directory suffix=".php">Traits</directory>
			<!--<directory suffix=".php">Validators</directory>-->
			<!--<directory suffix=".php">View</directory>-->
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="All">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
